<html>
<head>
	<title>Spotify Recommends | Get recommended Songs</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/main.css">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="row">
		<div class="col-md-3">
		<div class="sidebar">
			<img class="logo" src="img/logo.png">
			<div class="nav-item">
				<img class="nav-item-logo" src="img/home.png">
		    	<a class="upper-nav-link" href="#">Home</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="img/music.png">
		    	<a class="upper-nav-link" href="#">Song</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="img/person.png">
		    	<a class="upper-nav-link" href="#">Artist</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="img/recommend.png">
		    	<a class="upper-nav-link" href="#">Recommend</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="img/contribute.png">
		    	<a class="upper-nav-link" href="#">Contribute</a>
		    </div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="song-content">
			<div class="song-heading">
				<h1>Yummy</h1>
			</div>
			<div class="song-artist">
				<h3>Justin Bieber</h3>
			</div><div class="song-image">
				<img style="width: 500px;height: auto;float: right;margin-right: 50px;margin-top:-90px;" src="https://vignette.wikia.nocookie.net/horrible-music-and-songs/images/6/67/Yummy_cover.png">
			</div>
			<div class="song-details">
				<table style="width:100px !important;" class="table table-hover details-table">
					<tr>
						<th width="100px"><strong>Album</strong></th>
						<td>Changes</td>
					</tr>
					<tr>
						<th><strong>Spotify Link</strong></th>
						<td><a href="#">Yummy</a></td>
					</tr>
					<tr>
						<th><strong>Popularity</strong></th>
						<td>100</td>
					</tr>
					<tr>
						<th><strong>Explicit</strong></th>
						<td>True</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>
</div>
</body>

</html>