<html>
<head>
	<title>Spotify Recommends | Get recommended Songs</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/main.css">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="sidebar">
		<div class="brand-logo">
			<img src="img/logo.png">
		</div>
		<div class="nav-menu">
			<div class="nav-item">
				<img src="img/home.png">
				<a href="#">Home</a>
			</div>
			<div class="nav-item">
				<img src="img/music.png">
				<a href="#">Song</a>
			</div>
			<div class="nav-item">
				<img src="img/person.png">
				<a href="#">Artist</a>
			</div>
			<div class="nav-item">
				<img src="img/recommend.png">
				<a href="#">Recommend</a>
			</div>
			<div class="nav-item">
				<img src="img/contribute.png">
				<a href="#">Contribute</a>
			</div>
		</div>
	</div>

	<div class="content w-100 h-100">
		<div class="search-form">
			<form class="form" action="#" method="POST">
				<input type="text" name="name" placeholder="|">
				<button class="button" type="submit">Submit</button>
			</form>
		</div>

		<div class="row h-100">
			<div class="col-md-12 align-self-center text-center">
				<h1>Hello! We are here to help you</h1>
			</div>
		</div>

</body>

</html>