
<html>
<head>
	<title>Spotify Recommends | Get recommended Songs</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/main.css">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="row">
		<div class="col-md-3">
		<div class="sidebar">
			<img class="logo" src="img/logo.png">
			<div class="nav-item">
				<img class="nav-item-logo" src="img/home.png">
		    	<a class="upper-nav-link" href="#">Home</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="img/music.png">
		    	<a class="upper-nav-link" href="#">Song</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="img/person.png">
		    	<a class="upper-nav-link" href="#">Artist</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="img/recommend.png">
		    	<a class="upper-nav-link" href="#">Recommend</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="img/contribute.png">
		    	<a class="upper-nav-link" href="#">Contribute</a>
		    </div>
		</div>
	</div>

	<div class="col-md-9">
	<div class="content">
		<form class="searchform form-group" method="POST" action="">
			<input class="form-control search" type="text" placeholder="Enter a song name">
			<button class="submit-button" type="submit">Submit</button>
		</form>
		<div class="result-section">
			<h2 class="search-heading">Search Results</h2>
			<div class="results row">
					<div class="col-md-3">
						<div class="cards">
							<a href="#"><img class="card-img" src="https://vignette.wikia.nocookie.net/horrible-music-and-songs/images/6/67/Yummy_cover.png/revision/latest?cb=20200130023057"></a>
							<h4 class="card-heading">Yummy</h4>
							<h5 class="card-artist">Justin Bieber</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="cards">
							<a href="#"><img class="card-img" src="https://vignette.wikia.nocookie.net/horrible-music-and-songs/images/6/67/Yummy_cover.png/revision/latest?cb=20200130023057"></a>
							<h4 class="card-heading">Yummy</h4>
							<h5 class="card-artist">Justin Bieber</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="cards">
							<a href="#"><img class="card-img" src="https://vignette.wikia.nocookie.net/horrible-music-and-songs/images/6/67/Yummy_cover.png/revision/latest?cb=20200130023057"></a>
							<h4 class="card-heading">Yummy</h4>
							<h5 class="card-artist">Justin Bieber</h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="cards">
							<a href="#"><img class="card-img" src="https://vignette.wikia.nocookie.net/horrible-music-and-songs/images/6/67/Yummy_cover.png/revision/latest?cb=20200130023057"></a>
							<h4 class="card-heading">Yummy</h4>
							<h5 class="card-artist">Justin Bieber</h5>
						</div>
					</div>
					
			</div>
		</div>
	</div>
</div>

</div>
</div>
</body>

</html>