{% extends 'base.html' %}
{% block content %}

<div class="content h-auto">
	<div class="search-form">
		<form class="form" action="{% url 'artist' artist_name=artist_details.name %}" method="POST">
			{% csrf_token %}
			<input type="text" name="name" placeholder="Enter an artist name">
			<button class="button" type="submit">Submit</button>
		</form>
	</div>


	<div class="row artist-wrapper">
		<div class="col-sm-12 col-md-12 col-lg-6">
			<div class="artist-details">
				<div class="top">
					<div class="artist-name">
						<h1>{{artist_details.name}}</h1>
					</div>
					<div class="artist-followers">
						<h3>{{artist_details.followers}} followers</h3>
					</div>
				</div>

				<div class="down">
					<table class="table">
						<tr>
							<th>Genre</th>
							<td style="text-transform: capitalize;"><ul style='list-style-type:none !important;'>{% for genre in artist_details.genres %} <li>{{genre}}</li> {% endfor %}</ul></td>
						</tr>
						<tr>
							<th>Artist Profile</th>
							<td><a href="{{artist_details.link}}">Spotify</a></td>
						</tr>
						<tr>
							<th>Popularity</th>
							<td>{{artist_details.popularity}}</td>
						</tr>
						<tr>
							<th>User Type</th>
							<td style="text-transform: capitalize;">{{artist_details.user_type}}</td>
						</tr>
						<tr>
							<th>Recommended Songs</th>
							<td><a href="{% url 'recommend_artists' artist_name=artist_details.name %}">Recommended Songs</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="artist-image">
				<img src="{{artist_details.picture}}">
			</div>
		</div>

	</div>

</div>

 {% endblock content %}

