{% extends 'base.html' %}
{% block content %}

    <h1>Here are some things about {{ artist_details.name }}</h1>
    <img src="{{ artist_details.picture }}">
    <a href="{{ artist_details.link }}">Spotify Link</a>
    <p>Popularity : {{ artist_details.popularity }}</p>
    <p>Type : {{ artist_details.user_type }}</p>
    <p>Genre : {% for genre in artist_details.genres %} {{genre}} {% endfor %}</p>
    <p>Followers : {{ artist_details.followers }}</p>
    <a href="{% url 'recommend_artists' artist_name=artist_details.name %}">Related Artists</a>
</body>
</html>

 {% endblock content %}