{% extends 'base.html' %}

{% block content %}

<div class="content w-75 h-100">
		<div class="search-form">
			<form class="form" action="{% url 'recommend_artists' %}" method="POST">
				{% csrf_token %}
				<input type="text" name="name" placeholder="Enter your favorite artist name">
				<button class="button" type="submit">Submit</button>
			</form>
		</div>

		<div class="row h-100">
			<div class="col-md-12 align-self-center text-center">
				<h2>{{ lyrics }}</h2>
			</div>
		</div>
</div>

{% endblock content %}