body,html{
  background-color: #121212 !important;
  font-family: 'Montserrat', sans-serif !important;
  width:100%;
  height: auto;
  overflow-x: hidden;
}

.nav-item {
  margin:5px auto;
}

.searchform {
  margin-top: 35px;
}

.random-lyrics {
  margin-top: 250px;
  margin-left: 300px;
  color:grey;
  opacity: 50%;
  font-size:30px;
}

.submit-button {
  display:none !important;
}

.search{
  width: 300px !important;
  height: 30px !important;
  border-radius:10px !important;
}

.nav-item:hover{
  background-color: #282828;
  border-radius:10px;
  height: auto;
}

.content {
  padding:0px !important;
  margin:0px !important;
}
.nav-item-logo {
  width: 30px;
  height: auto;
  margin: 17px 0px 17px 27px;
  display:inline;
}

.upper-nav-link {
  color:white !important;
  font-weight:bolder;
  display: inline !important;
  font-size: 20px;
  margin-left:8px;
}

.logo {
  width:200px;
  height: auto;
  margin: 10px 25px;
}

.stats-table {
  margin-top:10px;
}

/* The side navigation menu */
.sidebar {
  margin:0px !important;
  padding: 0px;
  width: 250px;
  background-color: #030303;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-image: linear-gradient(to right, #9400D3, #8A2BE2);
  box-shadow: 0px 0px 20px #9400D3;
  color: white;
}

/* Links on mouse-over */
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.search-heading {
  font-size:35px;
  color:white;
}

.results {
  margin-top: 5px !important;
  margin-left: -30px !important;
  margin-right: 50px !important;
}

.card-img {
  padding:10px;
  width:180px !important;
  align-content: center; 
  margin:auto;
}

.cards {
  padding:10px;
  background-color:#565656;
  margin:10px;
  margin-right:0px;
  border-radius:10px;
}

.result-section {
  margin-top: 50px;
  overflow-y: hidden !important;
}


.card-heading {
  text-align: center;
  color:white;
  font-size:25px !important;
}
.card-artist {
  text-align:center;
  color:#D0D0D0;
  font-size:10px !important;
}





