body,html {
  background-color: #121212 !important;
  list-style:none;
  padding:0px;
  margin:0px;
}

.brand-logo {
  width:200px;
  margin:20px auto;
}

.brand-logo img{
  width:200px;
  height: auto;
}

.sidebar {
  width:230px;
  height:1000px;
  position:fixed;
  background-color: #030303;
}

.nav-item {
  width:175px;
  height:auto;
  margin:30px auto;
}

.nav-item img{
  width:24px;
  height:auto;
  margin-right: 10px;
}

.nav-item a{
  text-decoration: none;
  font-weight: bold;
  color:#b3b3b3;
  font-size:14px;
  margin:auto;
}

.nav-item a:hover{
  text-decoration: none !important;
  color:white;
}

.content {
  margin-left:230px;
  height:auto;
  background-color: #121212;
  position:absolute;
}

.search-form {
  margin:30px 30px;
}

.search-form input{
  width:300px !important;
  height:40px;
  border-radius: 25px;
  border:none !important;
  position: absolute;
}

.button {
  display:none;
}

.search-form input[type=text] {
  padding-left:15px;
  padding-bottom:5px;
}

.result-image img{
  width:158px;
  height:158px;
  margin:20px;
}

.search-results {
  margin: 130px 75px;
}

.result {
  background-color: #272727;
  border-radius:15px;
  width:198px;
  height:auto;
  color:white;
  margin-bottom: 30px;
}

.result-header h3{
  font-size:15px;
  color:white;
  text-align: center;
  word-break: break-all;
}

.result-desc h6{
  font-size:12px;
  color:grey;
  text-align: center;
  word-break: break-all;
}

.result-details {
  padding-bottom:10px;
}