{% load static %}

<html>
<head>
	<title>Spotify Recommends | Get recommended Songs</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="row">
		<div class="col-md-3">
		<div style="overflow-x:hidden" class="sidebar">
			<a href="{% url 'home' %}"><img class="logo" src="{% static 'img/logo.png' %}"></a>
			<div class="nav-item">
				<img class="nav-item-logo" src="{% static 'img/home.png' %}">
		    	<a class="upper-nav-link" href="{% url 'home' %}">Home</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="{% static 'img/music.png' %}">
		    	<a class="upper-nav-link" href="{% url 'song_search' %}">Song</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="{% static 'img/person.png' %}">
		    	<a class="upper-nav-link" href="{% url 'artist' %}">Artist</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="{% static 'img/recommend.png' %}">
		    	<a class="upper-nav-link" href="{% url 'recommend_songs' %}">Recommend</a>
		    </div>
		    <div class="nav-item">
				<img class="nav-item-logo" src="{% static 'img/contribute.png' %}">
		    	<a class="upper-nav-link" href="https:/www.github.com/sharmadeepesh/spotify-recommends/">Contribute</a>
		    </div>
		</div>
	</div>

<div class="col-md-9">
	{% block content %}

	{% endblock content %}
</div>
</body>

</html>