{% load static %}

<html>
<head>
	<title>Spotify Recommends | Get recommended Songs</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="sidebar">
		<div class="brand-logo">
			<a href="{% url 'home' %}">
			<img src="{% static 'img/logo.png' %}"></a>
		</div>
		<div class="nav-menu">
			<div class="nav-item">
				<img src="{% static 'img/home.png' %}">
				<a href="{% url 'home' %}">Home</a>
			</div>
			<div class="nav-item">
				<img src="{% static 'img/music.png' %}">
				<a href="{% url 'song' %}">Song</a>
			</div>
			<div class="nav-item">
				<img src="{% static 'img/person.png' %}">
				<a href="{% url 'artist' %}">Artist</a>
			</div>
			<div class="nav-item">
				<img src="{% static 'img/recommend.png' %}">
				<a href="{% url 'recommend_songs' %}">Recommend Songs</a>
			</div>
			<div class="nav-item">
				<img src="{% static 'img/recommend.png' %}">
				<a href="{% url 'recommend_artists' %}">Recommend Artists</a>
			</div>
			<div class="nav-item">
				<img src="{% static 'img/contribute.png' %}">
				<a href="https://www.github.com/sharmadeepesh/spotify-recommends/">Contribute</a>
			</div>
		</div>
	</div>


{% block content %}

{% endblock content %}

</body>

</html>